#navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: goldenrod;
    padding: 2vh 3vw;
}

#navContainer img{
    resize: both;
    width: 10%;
}

#navLista {
    display: flex;
    align-items: center;
    justify-content: center;  
}

#navLista li {
    list-style: none;
    padding: 0 2vw;
    position: relative;
}

#navLista li a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
}

#navLista li a:hover {
    color: black;
}

#mobile {
    display: none;
}

#mobile i {
    color: white;
}

@media screen and (max-width: 769px ) {
    #navLista {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;  
        position: fixed;
        top: 90px;
        right: -300px;
        width: 200px;
        height: 100vh;
        background-color: goldenrod;
        padding: 4vh 0 0 1vh;
        transition: 0.3s ease-in-out;
    }

    #navLista.active {
        right: 0px;  
    }

    #navLista li {
        margin-bottom: 7vh;
    }

    #mobile {
        display: block;
    }

    #mobile i {
        font-size: 1.5rem;
        cursor: pointer;
    }

    #navContainer img{
        resize: both;
        width: 35%;
    }
}